@import url(https://fonts.googleapis.com/css?family=Merienda);


$default-blue: #2681AC;
$nav-blue: #366881;
$dark-shade: #0C4F70;
$light-shade: #59ADD6;
$bright-shade: #7AB8D6;
$default-orange: #FF9E2E;
$const-shade: #BF894A;
$dark-orange: #A6600F;
$bright-orange: #FFB662;
$light-orange: #FFCA8C;