@import "../../../styles/variables";

@media screen and (max-device-width: 1024px)   and (min-width: 768px) and (min-resolution: 1dppx) {
  .landing-div {
    display: inline-block;
  }


.landing-text-in {
  display: inline-block;
  padding: 8% 3% 0% 2%;
  position: relative;
  left: 5%;
  }
}

.landing-picture {
  padding: 9% 3% 0 3%;
  display: inherit;
}

.landing-text {
  display: inherit;
  padding: 8% 3% 0% 2%;
  left: 60%;
  background-color: #2681AC
}

.landing-div {
  display: inline-flex;
  position: relative;
  left: 2.5%;
}


.landing-div-animate {
	-webkit-animation: landing-div-animate 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: landing-div-animate 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  display: inline-flex;
  position: relative;
}

 @-webkit-keyframes landing-div-animate {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes landing-div-animate {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}