@import "../../../styles/variables";

.navHeader {
  background-color: $default-blue;
  width: 4%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
}

.navButton {
  background-color: $default-blue;
  border-color: #b77c37;
  width: 100%;
  height: 6%;
}

.navHeader.active{
  background-color: $default-blue;
  width: 10%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
}